.form{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
}
.display{
    visibility: hidden;
}
#lighting{
    border: 20px solid teal;
    padding: 10px ;
    width: 50%;
    
}
* #lighting{
    margin: 100px;
    height: fit-content;
    width: fit-content;
    box-shadow: -20px 20px 0px  tan;
 }
